.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.avito-header {
  width: 100%;
  /*height:auto;*/
  background-image: url('../public/avito-header-fixed.png');
  height: 130px;
  background-size: cover;  /* Растягивает изображение так, чтобы оно заполнило всю область, сохраняя пропорции */
  background-position: center;  /* Выравнивает изображение по центру */
  background-repeat: no-repeat;  /* Убирает повторение изображения */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avito-map-area {
  display: flex;
  background-image: url('../public/avito-map-background.png');
  background-size: cover;  /* Растягивает изображение так, чтобы оно заполнило всю область, сохраняя пропорции */
  background-position: center;  /* Выравнивает изображение по центру */
  background-repeat: no-repeat;  /* Убирает повторение изображения */
  flex: 1;
}

.avito-map-left-menu-area {
  position: absolute;
  width: 30%;
}

.avito-map-work-area {
  padding-top: 130px;
  position: absolute;
  width: 100%;
}

.avito-map-work-area-tools {
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  padding: 8px;
}

.avito-map-work-area-tools > div,
.avito-map-work-area-tools > .SelectLayerButton {
  min-width: 62px;
  margin-left: 12px; /* Adds some space between the items */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left-menu-header {
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

.left-menu-header-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}
.left-menu-header-title-back {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}
.left-menu-header-title-back:hover {
  color: #008aed;
}

.left-menu-items {
  height: 100%; /* or set a max-height */
  overflow-y: auto;
}

.living-compounds-container {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.living-compound-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 10px;
}

.living-compound-item:hover {
  background-color: #f9f9f9;
}

.living-compound-item:hover .info .score {
  color: black;
}
.living-compound-item:hover .compound-image-container .compound-image {
  scale: 1.5;
}

.compound-image-container {
  width: 35%;
  overflow: hidden;
  height: 100px;
}

.compound-image {
  transition: 0.5s;
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  scale: 1.4;
}

.living-compound-item .info {
  flex: 1;
  cursor: pointer;
  position: relative;
  height: 70px;
  padding: 15px;
}

.living-compound-item .info .title {
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}

.living-compound-item .info .metro {
  font-size: 15px;
}

.living-compound-item .info .score {
  font-size: 20px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.52);
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.metro-icon {
  margin-right: var(--spacing-small);
  color: var(--primary-color);
}

.living-compound-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.living-compound-info .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 15px;
}

.living-compound-info .info .title {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 20px;
}
.living-compound-info .score {
  margin-left: 10px;
  font-size: 20px;
  font-family: Arial;
  position: absolute;
  right: 15px;
  top: 15px;
}

.living-compound-info .metro {
  padding: 0px 15px;
  font-size: 16px;
  font-weight: lighter;
}

.living-compound-info .image-container {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 300px;
  overflow: hidden;
}

.living-compound-info .image-container img {
  height: 100%;
  width: 100%;
  scale: 1.4;
}

.living-compound-info .criteria-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
.living-compound-info .criteria {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
}

.living-compound-info .criteria .criteria-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.living-compound-info .criteria .criteria-score {
  margin: auto 0;
  font-weight: bolder;
  white-space: nowrap;
}

.show-ads-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.update-settings-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.show-ads-button-container-bottom {
  min-height: 30px;
}

.left-menu-popup-header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.left-menu-popup-hint {
  font-size: 14px;
  margin-bottom: 10px;
  color: #6f6e6e;
}